.item {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.507);
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.item:nth-child(odd) {
    background-color: #cccccc05;
}

.item:nth-child(even) {
    background-color: #cccccc2c;
}

table {
    width: 100%;
}

td {
    border: 1px solid rgba(0, 0, 0, 0.185);
    padding: 10px;
}

.messageCell {
    min-width: 100%;
}

.pointCell {
    text-align: center;
    width: 90px;
}

.checkboxCell {
    width: 35px;
}